:root {
  --primary-blue: #3498db;
  --secondary-blue: #2e86c1;
  --font-color-white: white;
  --font-color-label: #747e84;
  --font-color-input: #686868;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}
body {
  height: 100vh;
}
header {
  width: 100%;
  height: 10%;
  min-width: 320px;
  min-height: 60px;
  background: var(--primary-blue);
  color: var(--font-color-white);
}
header nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
header nav span {
  width: 20px;
  height: 20px;
  display: inline-block;
  /*   background: url("../assets/home-logo.png") center/contain no-repeat; */
}
header nav > div > p {
  font-size: 1.1rem;
  font-family: "Dancing Script", cursive;
}
header nav > div:last-child > button {
  width: 52px;
  height: 22px;
  background: var(--secondary-blue);
  border: none;
  border-radius: 4px;
  font-size: 9px;
  font-weight: 700;
  color: var(--font-color-whitewhite);
  cursor: pointer;
}
main {
  width: 100%;
  height: 80%;
  min-width: 320px;
  min-height: 500px;
  padding: 40px 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}
main > section.main-image {
  display: none;
}

main > section.main-form {
  height: auto;
  width: 320px;
}
main > .main-form > section.main-title {
  width: 222px;
  height: auto;
  margin: 0 auto 35px auto;
}
main > .main-form > section.main-title h1 {
  font-size: 50px;
  font-weight: 700;
  font-family: "Dancing Script", cursive;
  color: var(--secondary-blue);
}
main > section.main-form > form {
  width: 70%;
  max-width: 320px;
  height: 215px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
main > section.main-form > form > span {
  font-size: 1.5rem;
  align-self: flex-start;
  color: var(--font-color-label);
  font-weight: 500;
  margin: 0 0 10px 0;
}
main > section.main-form > form > label {
  width: 100%;
  margin: 0 0 10px 0;
}
main > section.main-form > form > label > input {
  width: 100%;
  height: 30px;
  border: 1px solid var(--secondary-blue);
  border-radius: 4px;
  padding: 4px 10px;
  font-size: 11px;
  color: var(--font-color-input);
}
input:focus-visible {
  outline: none;
}

main > section.main-form > form > input.button:last-of-type {
  width: 80%;
  height: 35px;
  margin: 10px 0 0;
  background: var(--secondary-blue);
  border: none;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  color: var(--font-color-white);
  cursor: pointer;
}
.form-sign-up {
  display: none;
}
footer {
  width: 100%;
  height: 10%;
  min-width: 320px;
  min-height: 66px;
  display: flex;
  justify-content: space-around;
  background: var(--secondary-blue);
  color: var(--font-color-white);
  text-align: center;
}
footer > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer > section:last-child > ul {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  list-style: none;
}
footer > section:last-child > ul > li > a {
  display: inline-block;
  height: 20px;
  width: 20px;
}
footer > section:last-child > ul > li > a.facebook {
  background: url("../assets/facebook.svg") center/cover no-repeat;
}
footer > section:last-child > ul > li > a.instagram {
  background: url("../assets/instagram.svg") center/cover no-repeat;
}
footer > section:last-child > ul > li > a.twitter {
  background: url("../assets/twitter.svg") center/cover no-repeat;
}
