:root {
  --primary-blue: #3498db;
  --secondary-blue: #2e86c1;
  --font-color-white: white;
  --font-color-label: #747e84;
  --font-color-input: #686868;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}
body,
html {
  width: 100%;
  height: 100%;
  /*  overflow: hidden; */
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  width: 100%;
  min-width: 320px;
  height: 50px;
  background: var(--primary-blue);
}
header > nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header > nav > div {
  width: auto;
  height: auto;
}
header > nav > div > p {
  color: var(--font-color-white);
  font-family: "Dancing Script", cursive;
  font-size: 1.8rem;
}
main {
  width: 100%;
  height: auto;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
main > h1 {
  margin: 42px 0;
  font-family: "Dancing Script", cursive;
  font-size: 4rem;
  color: var(--primary-blue);
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 25px;
}

/* main section > div.right {
  display: flex;
} */

main section > div.right p {
  align-self: center;
  margin-right: 8px;
}

main section > div.right input {
  width: 200px;
  height: 30px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid var(--font-color-input);
}

main div.pd-10 {
  width: 90%;
  padding: 10px;
}

main div.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main div .data-student,
.data-parents,
.data-agents {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
}

.data-student label,
.data-parents label,
.data-agents label {
  margin-bottom: 10px;
}

main div .data-student label span {
  font-size: 1.4rem;
  font-weight: 400;
  margin-right: 8px;
}

.data-student input,
.data-parents input,
.data-agents input {
  width: 220px;
  height: 32px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid var(--font-color-input);
}

main div .mother-pather input {
  width: 15px;
  height: 15px;
  margin: 0 5px 12px 0;
}

.data-parents label:nth-child(7) {
  margin-bottom: 30px;
}

footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--primary-blue);
  text-align: center;
  color: var(--font-color-white);
}
footer > .footer-contact-us {
  width: auto;
  height: auto;
}
footer > .footer-social-media {
  width: auto;
  height: auto;
}
footer > .footer-social-media > ul {
  width: auto;
  height: 80%;
  margin-top: 1px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
footer > .footer-social-media > ul > li > a {
  width: 20px;
  height: 20px;
  display: inline-block;
}
footer > .footer-social-media > ul > li > a.facebook {
  background: url("../assets/facebook.svg") center/cover no-repeat;
}
footer > .footer-social-media > ul > li > a.instagram {
  background: url("../assets/instagram.svg") center/cover no-repeat;
}
footer > .footer-social-media > ul > li > a.twitter {
  background: url("../assets/twitter.svg") center/cover no-repeat;
}
